
@import './normalize.css';
@import './reset.css';
@import './head.scss';
@import './company.scss';
@import './home.scss';



body{
    background-color: #666666;
    color:white;

}
html{
    font-size: 16px;
}
